body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.legend h4 {
  margin: 0 0 10px;
}

.legend i {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.legend i:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}